button {

    font-weight: bold;
    background-color: rgb(56, 86, 253);
    color: white;
    padding: 10px 0px;
    width: 120px;
    
}

button:hover {
    background-color: rgb(33, 66, 252);
    cursor: pointer;
}

button:disabled {
    background-color: gray;
}

button:hover:disabled {
    cursor: pointer;
}

input, select {
    height: 32px;
}

.input-validity-message.invalid {
    background-color: rgb(213, 0, 0);
}

.input-validity-message.valid {
    display: none;
}

.input-validity-message {
    width: 80%;
    text-align: left;
    padding-left: 3px;
    color: white;
    margin: 0;
}

#table-filter-field {
    width: 50%;
    height: 40px;
}

.form-fields-input-wrapper {
    display: flex;
    margin: 10px;
}

.form-fields-input-wrapper > label {
    flex: 1;
    text-align: right;
}

.form-fields-input-wrapper > input, .form-fields-input-wrapper > select, .form-fields-input-wrapper > textarea {
    flex: 3;
    margin-left: 5px;
}

.form-fields-box:nth-child(5) > .form-fields-input-wrapper {
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.form-fields-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
}

fieldset {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
