html {

    font-family: Arial, Helvetica, sans-serif;

}

/* TABLE STYLES */

table {

    background-color: white;
    width: 100%;
    
}

table th {
    background-color: green;
    color: white;
}

table th, table td {
    border: 1px black solid;
    text-align: center;
}

table img {
    width: 30px;
}

table img:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

table img:active {
    background-color: rgb(216, 216, 216);
}

/* LAYOUT STYLE */

section#content-wrapper {

    display: flex;
    flex-direction: column;
    background-color: rgb(212, 212, 212);

}

section#form-wrapper {

    background-color: rgb(238, 227, 207);
    margin:  10px 5px 30px 5px;

}

#table-display {
    overflow-x: scroll;
}

section#table-section {
    
    padding: 20px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

main {

    display: flex;
    flex-direction: column;
    text-align: center;

}

footer {
    background-color: purple;
    color: white;
    text-align: center;
}

header {
    background-color: purple;
    color: white;
    text-align: center;
}

#storage-manager button {
    margin: 10px 20px;
    width: 200px;
}

.form-fields-input-wrapper img {
    width: 32px;
    height: 32px;
    padding-left: 3px;
}

#status-display {
    background-color: white;
    color: red;
    text-align: left;
    font-weight: bold;
    font-size:15px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-bottom: 7px solid black;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-top: 7px solid black;
  }
